fastapi
uvicorn[standard]
pydantic
python-dotenv

langchain
langchain-community
langchain-core
langgraph
ollama
sentence-transformers
faiss-cpu
tiktoken

pypdf
python-multipart
unstructured

sqlalchemy
psycopg2-binary
pandas

numpy
scikit-learn
aiofiles
httpx

orjson
tenacity
loguru
